[Unit]
Description=Dunst - A lightweight notification daemon for X11

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
Restart=always

[Install]
WantedBy=default.target